<p id="notice"><%= notice %></p>

<h1>Qualifications</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Fieldofstudy</th>
      <th>Qualificationtype</th>
      <th>Completed</th>
      <th>Lengthofqualificatin</th>
      <th>Yearofstudy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td><%= qualification.institution %></td>
        <td><%= qualification.fieldofStudy %></td>
        <td><%= qualification.qualificationType %></td>
        <td><%= qualification.completed %></td>
        <td><%= qualification.lengthofQualificatin %></td>
        <td><%= qualification.yearOfStudy %></td>
        <td><%= link_to 'Show', qualification %></td>
        <td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
        <td><%= link_to 'Destroy', qualification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification', new_qualification_path %>
