<p id="notice"><%= notice %></p>

<p>
  <strong>Contacttype:</strong>
  <%= @contact.contactType %>
</p>

<p>
  <strong>Contactbody:</strong>
  <%= @contact.contactBody %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
