<%if @experiences.blank? %>
    <h3> Add your work experience</h3>
    <%= link_to 'Add Experience', new_experience_path %>
<%else%>

<h1>Work Experience</h1>

<table>
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Jobtitle</th>
      <th>Startdate</th>
      <th>Enddate</th>
     
    </tr>
  </thead>

  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.organisation %></td>
        <td><%= experience.jobTitle %></td>
        <td><%= experience.startDate %></td>
        <td><%= experience.endDate %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%end%>